<table>
  <h1>List Books</h1>
  <% @books.each do |book| %>
    <tr>
      <td>Book Title: <%= book.book_title %></td>
    </tr>
    <td><%= link_to 'Edit', edit_book_path(book) %>
    <%= link_to 'Destroy', book_path(book), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<%= link_to 'New Book', new_book_path %>


